* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  list-style: none;
}

h1 {
  font-weight: 700;
  line-height: 28.13px;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  line-height: 18.75px;
  font-size: 16px;
}

h3 {
  font-weight: 300;
  line-height: 21.09px;
  font-size: 18px;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
}

p {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}

span {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.fa-solid {
  color: #353535;
  font-size: 22px;
}

.fa-light {
  color: #101010;
}

.fa-location-dot {
  cursor: pointer;
}

input {
  border: none;
  font-weight: 500;
  line-height: 18.75px;
  font-size: 16px;
  padding: 0px;
  text-align: center;
  width: 120px;
}

@keyframes fade-in-menu-part {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loader-out {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20000px);
  }
}
@keyframes fade-heart {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    transform: scale(1.1);
  }
  95% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/** LOADING PAGE **/
.loading {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #FFFAFC;
  align-items: center;
  animation: loader-opacity 0.4s ease-in 2s forwards;
  animation: loader-out 0.1s ease 2.1s forwards;
}
.loading img {
  width: 100%;
  height: auto;
  text-align: center;
  background-size: cover;
}

/************ Header *************/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-container-fleche {
  margin: 0px;
  width: 17.2px;
  height: 16px;
  top: 17px;
  left: 17px;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.header-container-fleche:hover {
  transform: scale(1.1);
  opacity: 0.85;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 5px;
}
.header-container-logo-img {
  max-width: 162px;
  height: auto;
}

/************ Footer *************/
Footer {
  background-color: #353535;
  padding: 22px 25px;
}
Footer a:visited {
  color: white;
}

.footer-img {
  max-width: 137px;
  height: auto;
  filter: invert(100%);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 13px;
}
.footer-container-content {
  margin: 3.5px 0px;
  display: flex;
  align-items: center;
}
.footer-container-content i {
  filter: invert(100%);
  font-size: 15px;
  width: 20px;
}
.footer-container-content .fa-handshake {
  transform: rotate(-30deg);
}
.footer-container-content a {
  margin-left: 5px;
  color: white;
}
.footer-container-content-a {
  padding-top: 5px;
}
.footer-container-content-a a {
  color: white;
}
.footer-container-content-a a:visited {
  color: white;
}

/**************************** Acceuil  ***********************/
/************ Location *************/
.location {
  box-shadow: inset 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15.5px 0px;
}
.location-container {
  display: flex;
  flex-direction: row;
}
.location-container-icon {
  width: 12px;
  height: 16px;
  margin-bottom: 3px;
}
.location-container-icon i:hover {
  color: #101010;
}
.location-container input {
  margin-left: 8px;
  color: black;
}

/************ Reservation *************/
.reservation {
  padding: 39px 30px;
  background-color: #F6F6F6;
}
.reservation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5px 10px;
  text-align: center;
}
.reservation-container h1 {
  margin: 0px 20px;
}
.reservation-container-content {
  margin: 0px;
}
.reservation-container-button {
  margin: 27px 0px 18px 0px;
  opacity: 1;
  transition: all 0.5s ease;
}
.reservation-container-button h2 {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  padding: 13px 18.75px;
  color: white;
}
.reservation-container-button:hover {
  opacity: 0.85;
}

/** Fonctionnement **/
.fonctionnement {
  padding: 48px 20px;
}
.fonctionnement-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.fonctionnement-container-rectangle {
  display: flex;
  flex-direction: column;
}

.fonctionnement-rectangle {
  margin-left: 12px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  margin-top: 25px;
  margin-bottom: 30px;
  width: 100%;
}
.fonctionnement-rectangle-bulle {
  position: absolute;
  top: 19px;
  left: -12px;
  right: 0;
  bottom: 0;
}
.fonctionnement-rectangle-bulle-cercle {
  width: 24px;
  height: 24px;
  background: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement-rectangle-bulle-numero {
  color: white;
  font-size: 15px;
  line-height: 16.62px;
  font-weight: 500;
}
.fonctionnement-rectangle-content {
  display: flex;
  justify-content: flex-start;
  margin-left: 35px;
}
.fonctionnement-rectangle-content-icon {
  width: 15px;
  height: 15px;
  margin-right: 23px;
}

/** Restaurants **/
.restaurants-list {
  background: #F6F6F6;
  padding: 54px 0px 40px 0px;
}
.restaurants-list-cards-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants-list-title {
  margin-left: 5%;
}

.restaurant-list-card {
  display: flex;
  width: 90%;
  height: auto;
  margin: 20px 0px 15px 0px;
  flex-direction: column;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: relative;
  color: black;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease;
  transition: all 1s;
}
.restaurant-list-card h4 {
  top: 15px;
  right: 15px;
  background: #99E2D0;
  padding: 6px 9px;
  color: #008766;
  border-radius: 2px;
  z-index: 2;
  position: absolute;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.restaurant-list-card img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant-list-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 13px;
}
.restaurant-list-card-content-text h3 {
  font-weight: 700;
}
.restaurant-list-card-content i {
  width: 22px;
  height: 22px;
  margin-right: 13px;
}
.restaurant-list-card:hover {
  opacity: 0.85;
}
.restaurant-list-card:hover {
  box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.4);
}

.heart {
  width: 40px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  position: relative;
  z-index: 1;
  overflow: clip;
  transition: all 0.5s;
  opacity: 1;
  font-size: 22px;
  -webkit-text-stroke: 1px black;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover {
  -webkit-text-stroke: transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  animation: fade-heart 1s ease-in;
}

/** Page Restaurant  **/
.main-restaurant-page {
  height: 1360px;
}

.main-restaurant-page-note {
  height: 1448px;
}

/** Entete **/
.photo-container {
  width: 100%;
  z-index: -1;
}
.photo-container-content img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}

/** Menu **/
.menu-container {
  border-radius: 20px 20px 0px 0px;
  background: #F6F6F6;
  padding: 17px 13px 1px;
  width: auto;
  position: relative;
  top: -40px;
}
.menu-container-entete {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-container-entete h1 {
  font-family: "Shrikhand", cursive;
}
.menu-container-entete-coeur {
  width: 23px;
  height: 23px;
  padding-right: 40px;
}

.menu-part {
  padding: 40px 0px 0px;
}
.menu-part-title h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.menu-part-title hr {
  width: 40px;
  background-color: #99E2D0;
  height: 3px;
  border-width: 0;
  border-radius: 2px;
}

.entrees {
  opacity: 0;
  transform: translateY(-100px);
  top: 0px;
  animation: fade-in-menu-part 1s 2.2s forwards;
}

.plats {
  opacity: 0;
  transform: translateY(-100px);
  top: 0px;
  animation: fade-in-menu-part 1s 2.4s forwards;
}

.desserts {
  opacity: 0;
  transform: translateY(-100px);
  top: 0px;
  animation: fade-in-menu-part 1s 2.6s forwards;
}

.menu-part-card {
  margin-top: 12px;
  width: 100%;
  height: 69px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.menu-part-card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 12PX 0px;
  width: auto;
  transition: all 0.8s ease;
}
.menu-part-card-content h2 {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 16px;
  box-sizing: border-box;
}
.menu-part-card-content p {
  font-size: 15px;
  line-height: 17.63px;
  padding-left: 16px;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 16px;
  box-sizing: border-box;
}
.menu-part-card-slide {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(65px);
  transition: all 0.8s ease;
}
.menu-part-card-slide-prix {
  padding: 0px 12px;
  margin-top: 34%;
  white-space: nowrap;
  background-color: white;
  box-sizing: border-box;
}
.menu-part-card-slide-prix p, .menu-part-card-slide-prix span {
  font-weight: 700;
}
.menu-part-card-slide-valid {
  background-color: #99E2D0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 20px;
}
.menu-part-card-slide .fa-check {
  font-size: 15px;
  color: #99E2D0;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-top: 24px;
  transform: rotate(90deg);
  transition: all 0.8s ease-out 0.3s;
}
.menu-part-card:active .menu-part-card-slide {
  transform: translateX(0px);
}
.menu-part-card:active .menu-part-card-slide-valid .fa-check {
  transform: rotate(0deg);
}
.menu-part-card:active .menu-part-card-content {
  width: 231px;
}

.menu-button-purple {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.menu-button-purple-a {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  padding: 13px 18.75px;
  color: white;
  padding: 15px 50px;
}
.menu-button-purple-a h2 {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  /**BASE **/
  body {
    width: 100%;
  }
  /** LOADING PAGE **/
  .loading {
    width: 100%;
    height: 100%;
  }
  /**HEADER **/
  header {
    width: 100%;
    padding: 16px 0px 25px;
  }
  .header-container-fleche {
    top: 36px;
    left: 36px;
  }
  /**FOOTER **/
  Footer {
    padding: 53px 0px 22px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .footer-img {
    padding-top: 6px;
    margin-left: 70px;
    margin-right: 100px;
    max-width: 100px;
  }
  .footer-container {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-top: 6px;
  }
  .footer-container-a {
    margin-left: 10px;
    text-align: center;
    padding-top: 3px;
  }
  .footer-container-content {
    flex-direction: row;
    margin-right: 10px;
  }
  .footer-container-content a {
    text-decoration: none;
  }
  /******** ACCUEIL ***/
  /**** LOCATION ***/
  .reservation {
    padding: 30px 0px;
    width: 100%;
  }
  .reservation-container {
    margin: 0px 180px;
    padding: 0px;
  }
  .reservation-container-title h1 {
    font-size: 40px;
  }
  .reservation-container-content {
    margin-top: 18px;
  }
  .reservation-container-button {
    margin: 18px 0px 0px 0px;
  }
  /*** FONCTIONNEMENT ***/
  .fonctionnement {
    padding: 50px 0px;
    width: 100%;
  }
  .fonctionnement-title {
    display: block;
    float: left;
    margin-left: 18%;
  }
  .fonctionnement-container {
    margin: 0px 18%;
  }
  .fonctionnement-container-rectangle {
    flex-direction: row;
    align-items: center;
  }
  .fonctionnement-rectangle {
    width: 30%;
    margin: 25px 12px 2px;
  }
  /*** LIST-RESTAURANT ****/
  .restaurants-list {
    width: 100%;
    padding: 5px 0px 25px;
    display: flex;
    flex-direction: column;
  }
  .restaurants-list-title {
    margin: 25px 17%;
  }
  .restaurants-list-cards-div {
    margin: 0px 15% 53px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .restaurant-list-card {
    width: 45%;
    margin: 25px 1.9%;
  }
  .restaurant-list-card img {
    width: 100%;
  }
  /******** RESTAURANTS *******/
  .main-restaurant-page {
    height: 1490px;
  }
  .main-restaurant-page-note {
    height: 1570px;
  }
  /*** ENTETE *****/
  .photo-container {
    width: 100%;
    height: 383px;
  }
  .photo-container img {
    width: 100%;
    height: 383px;
  }
  /****** MENU  *****/
  .menu-container {
    margin: 0px 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-container-entete {
    padding-top: 35px;
  }
  .menu-container-entete-coeur {
    margin-left: 14px;
  }
  .menu-part-card {
    width: 634px;
  }
  .menu-part-card:active .menu-part-card-content {
    width: 331px;
  }
}