@mixin bouton-gradiant {
    background: $linear-gradiant;
    border-radius: 25px;
    padding: 13px 18.75px;
    color: white;
}

@mixin fonctionnement-card {
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    margin-top: 25px;
    margin-bottom: 30px;
}
@mixin fonctionnement-content {
    display: flex;
    justify-content: flex-start;
    margin-left:35px;
}

@mixin restaurant-card-accueil {
    display: flex;
    width: 340px;
    height: auto;
    margin: 20px 0px 15px 0px ;
    flex-direction: column;
    box-shadow:0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px ;
    position: relative;
    cursor:pointer;
    h4 {
        top: 15px;
        right: 15px;
        background: $vert-clair-color;
        padding: 6px 9px;
        color: $vert-fonce-color;
        border-radius: 2px;
        z-index: 2;
        position: absolute;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    img {
        z-index: 1;
        object-fit: cover;
        width: 340px;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
    &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 13px;
        &-text {
            h3 {
                font-weight: 700;
            }
        }
        i {
            width: 22px;
            height: 22px;
            margin-right: 13px;           
        }
    }
}

@mixin opacity {
    opacity: 1;
    transition: all 0.5s ease;
    &:hover {
        opacity: 0.85;
    }
}

@mixin padding-desktop {
    padding: 0px 180px;
}

@mixin menu-card {
    width: 349px;
    height: 69px;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 15px rgba($color: #000000, $alpha: 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    &-content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 12PX 0px;
        width: auto;
        transition: all 0.8s ease;
        h2 {
            font-size: 18px;
            line-height: 21.09px;
            font-weight: 700;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 16px;
            box-sizing: border-box;
        }
        p {
            font-size: 15px;
            line-height: 17.63px;
            padding-left: 16px;
            margin-top: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 16px;
            box-sizing: border-box;
        }
    }
    &-slide {
        display: flex;
        flex-direction: row;
        height: 100%;
        position: absolute;
        top: -1;
        right:0;
        transform: translate(65px);
        transition: all 0.8s ease;
        &-prix {
            p, span{
                line-height: bold;
                font-weight: 700;
            }
            padding: 0px 12px;
            margin-top :34%;
            white-space: nowrap;
            background-color: white;
            box-sizing: border-box;
        }
        &-valid {
            background-color: $vert-clair-color;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 0px 20px;  
        }
        .fa-check {
            font-size: 15px;
            color: $vert-clair-color;
            border-radius: 50%;
            background-color: white;
            padding: 5px;
            margin-top: 24px;
            transform: rotate(90deg);
            transition: all 0.8s ease-out 0.3s;
          }
          
    }
    &:active {
        .menu-part-card-slide{ transform: translateX(0px);}
        .menu-part-card-slide-valid .fa-check{ transform: rotate(0deg);}
        .menu-part-card-content{ width: 231px;}
    }
}