//Import _SCSS

@import '_variables';
@import '_mixins';

// BASE
* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}
body {
    list-style: none;
}


h1 {
    font-weight: 700;
    line-height:28.13px;
    font-size: 24px;    
}

h2 {
    font-weight: 500;
    line-height: 18.75px;
    font-size: 16px;
}

h3 {
    font-weight: 300;
    line-height:21.09px;
    font-size: 18px;
}

h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    text-align: center;
}

p {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;

}

span{
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

a { text-decoration: none;}
a:visited { text-decoration: none;}

.fa-solid {
    color:#353535;
    font-size:22px;
}

.fa-light { color : #101010 ;}

.fa-location-dot{ cursor: pointer;}

input {
    border: none;
    font-weight: 500;
    line-height: 18.75px;
    font-size: 16px;
    padding: 0px;
    text-align: center;
    width: 120px;

}

@keyframes fade-in-menu-part {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loader-opacity { 
    from {opacity: 1;}
    to { opacity: 0;}
} 

@keyframes fade-heart {
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50% { opacity: 1;}
    80%{ transform: scale(1.1); }
    95% { transform: scale(0.95); }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/************ Header *************/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-container-fleche {
    margin: 0px;
    width: 17.2px;
    height : 16px;
    top: 17px;
    left: 17px;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        opacity: 0.85;
    }
}
.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 5px;       
    &-logo {
        &-img {       
        max-width:162px;
        height: auto;
        }
    }
}


/************ Footer *************/
Footer {
    background-color: $gris-fonce-color;
    padding: 22px 25px;
    a:visited {color: white;}
}

.footer-img {
    max-width: 137px;
    height: auto;
    filter: invert(100%);
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 13px;
    &-content{
        margin: 3.5px 0px;
        display: flex;
        align-items: center;
        i {
            filter: invert(100%);
            font-size: 15px;
            width: 20px;
        }
        .fa-handshake {transform: rotate(-30deg);}
        a {
            margin-left: 5px;
    }
    &-a { 
            padding-top: 5px;
        }
    }
}
/** LOADING PAGE **/

.loading {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    display: flex;
    justify-content: center;
    background:#FFFAFC;
    align-items: center;
    animation: loader-opacity 0.4s ease-in 3s forwards;
    img {
        width: 100%;
        height: auto;
        text-align: center;
        background-size: cover;
    }
}

/**************************** Acceuil  ***********************/

/************ Location *************/
.location {
    box-shadow: inset 0px 5px 7px 0px  rgba(0,0,0,0.25);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15.5px 0px;
    &-container {
        display: flex;
        flex-direction: row;
        &-icon {
            width: 12px;
            height: 16px;
            margin-bottom: 3px;
            i:hover { color: #101010;}
        }
        input {
            margin-left: 8px;
            color: black;
        }   
    }
}
/************ Reservation *************/
.reservation {
    padding: 39px 30px;
    background-color: $gris-clair-color;
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5px 10px;
        text-align: center;
        h1 { margin: 0px 20px;}
        &-content { margin: 0px ;}
        &-button { margin: 27px 0px 18px 0px;
             h2 { @include bouton-gradiant();}
            @include opacity()
        }
    }
}
/** Fonctionnement **/

.fonctionnement {
    padding: 48px 20px;
    &-container { margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        &-rectangle {
            display: flex;
            flex-direction: column;
        }
    }
}
.fonctionnement-rectangle {
    margin-left: 12px;
    @include fonctionnement-card();
    width: 322px;
    &-bulle {
        position: absolute;
        top: 19px;
        left: -12px;
        right: 0;
        bottom: 0;
       &-cercle {
        width:24px;
        height:24px;
        background:$violet-color;
        border-radius:50% ;
        display: flex;
        justify-content: center;
        align-items: center;
       }
        &-numero {
            color:white;
            font-size: 15px;
            line-height: 16.62px;
            font-weight: 500;
        }
    }
    &-content {
        display: flex;
        justify-content: flex-start;
        margin-left:35px;
        &-icon {
            width: 15px;
            height: 15px;
            margin-right: 23px;
        }
    }
}
/** Restaurants **/
.restaurants-list {
    background: $gris-clair-color;
    padding: 54px 0px 40px 0px;
    &-cards-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    &-title { margin-left: 5%;}

}
.restaurant-list-card {
        @include restaurant-card-accueil();
        @include opacity();
        transition: all 1s;
        &:hover { box-shadow:5px 8px 18px rgba(0, 0, 0, 0.40);}
}

.heart {
    width: 40px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    position: relative;
    z-index: 1;
    overflow: clip;
    transition: all 0.5s;
    opacity: 1;
    font-size: 22px;
    -webkit-text-stroke: 1px black;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.heart:hover{
    -webkit-text-stroke:transparent ;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    animation: fade-heart 1s ease-in;
}


/** Page Restaurant  **/

.main-restaurant-page {
    height: 1360px;
}
/** Entete **/
.photo-container {
    width: 100%;
        &-content img{
            object-fit: cover;
            height: 275px;
            width: 375px;
        }
    z-index: -1;
}
/** Menu **/
.menu-container {
    border-radius: 20px 20px 0px 0px;
    background: $gris-clair-color;
    padding: 17px 13px 1px;
    width: auto;
    position: relative;
    top: -40px;
    &-entete {
        padding-top:15px ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1 {
            font-family: 'Shrikhand', cursive;
        }
        &-coeur{
            width: 23px; 
            height: 23px;
            padding-right: 40px;
              }
    }
}
.menu-part {
    padding: 40px 0px 0px;
    &-title {
        h3 {
            text-transform: uppercase; 
            margin-bottom: 5px;
        }
        hr {
            width: 40px;
            background-color: $vert-clair-color;
            height: 3px;
            border-width: 0;
            border-radius: 2px;
        }
    }

}
.entrees {
    opacity: 0;
    transform: translateY(-100px);
    top: 0px;
    animation: fade-in-menu-part 1s 3s forwards;
}
.plats {
    opacity: 0;
    transform: translateY(-100px);
    top: 0px;
    animation: fade-in-menu-part 1s 3.3s forwards;
}
.desserts {
    opacity: 0;
    transform: translateY(-100px);
    top: 0px;
    animation: fade-in-menu-part 1s 3.6s forwards;
}

.menu-part-card {
    margin-top: 12px;
    @include menu-card;
}

.menu-button-purple {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    &-a {
        @include bouton-gradiant();
        padding: 15px 50px;
        h2{
        font-weight:500;
        }
    }

}

@import '_media';