* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

$gris-clair-color: #F6F6F6;
$violet-color:     #9356DC ;
$vert-fonce-color: #008766;
$vert-clair-color: #99E2D0;
$bleu-clair-color: #89C8FA;
$bleu-fonce-color: #003A68;
$gris-fonce-color: #353535;
$linear-gradiant: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
;

@mixin bouton-gradiant {
    background: $linear-gradiant;
    border-radius: 25px;
    padding: 13px 18.75px;
    color: white;
    :hover {
     background-color: $gris-fonce-color;
        
    }
}

@mixin fonctionnement-card {
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    margin-top: 25px;
    margin-bottom: 30px;
}
@mixin fonctionnement-content {
    display: flex;
    justify-content: flex-start;
    margin-left:35px;
}

@mixin restaurant-card-accueil {
    display: flex;
    width: 340px;
    height: auto;
    margin: 20px 0px 15px 0px ;
    flex-direction: column;
    box-shadow:0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px ;
    img {
        object-fit: cover;
        width: 340px;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
    &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 13px;
        &-text {
            h3 {
                font-weight: 700;
            }
        }
        i {
            width: 22px;
            height: 22px;
            margin-right: 13px;;
            
            
        }
    }
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

h1 {
    font-weight: 700;
    line-height:28.13px;
    font-size: 24px;    
}

h2 {
    font-weight: 500;
    line-height: 18.75px;
    font-size: 16px;
}

h3 {
    font-weight: 300;
    line-height:21.09px;
    font-size: 18px;
}

p {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;

}

.fa-solid {
    color:#353535
}

.fa-light {
    color : #101010 ;
}

a {
    text-decoration: none;
}

input {
    border: none;
    font-weight: 500;
    line-height: 18.75px;
    font-size: 16px;
    padding: 0px;
    text-align: center;
    width: 120px;
    
}
/************ Header *************/


header {
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-container-fleche {
    margin: 0px;
    width: 17.2px;
    height : 16px;
    top: 20px;
    left: 20px;
    display:none;
    padding: 23px;
}
.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 5px;       
    &-logo {
        &-img {       
        max-width:162px;
        height: auto;
        }
    }
}




/************ Footer *************/
Footer {
    background-color: $gris-fonce-color;
    padding: 22px 25px;
}

.footer-img {
    max-width: 137px;
    height: auto;
    filter: invert(100%);
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 13px;
    &-content{
        padding: 3.5px 0px;
        i {
            margin-right: 10px;
            filter: invert(100%);
            width: 12px;
            height: 13px;
        }
        .fa-handshake {
            transform: rotate(-30deg);
        }
    
    }
    a {
        color: white;
    }
}
 

/**************************** Acceuil  ***********************/

/************ Location *************/
.location {
    box-shadow: inset 0px 5px 7px 0px  rgba(0,0,0,0.25);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15.5px 0px;
    &-container {
        display: flex;
        flex-direction: row;
        &-icon {
            width: 12px;
            height: 16px;
            margin-bottom: 3px;               
        }
        input {
            margin-left: 8px;
            color: black;
        }   
    }
}
/************ Reservation *************/
.reservation {
    padding: 39px 30px;
    background-color: $gris-clair-color;
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5px 10px;
        text-align: center;
        h1 {
        margin: 0px 20px;
        }
        &-content {
            margin: 0px ;
        }
        &-button {
            margin: 27px 0px 18px 0px;
             h2 {
            @include bouton-gradiant();
             }
        }
    }
}
/** Fonctionnement **/

.fonctionnement {
    padding: 48px 20px;
    display: flex;
    flex-direction: column;
    &-container {
        margin-bottom: 20px;
        
    }
}
.fonctionnement-rectangle {
    margin-left: 12px;
    @include fonctionnement-card();
    &-bulle {
        position: absolute;
        top: 19px;
        left: -12px;
        right: 0;
        bottom: 0;
       &-cercle {
        width:24px;
        height:24px;
        background:$violet-color;
        border-radius:50% ;
        display: flex;
        justify-content: center;
        align-items: center;
       }
        &-numero {
            color:white;
            font-size: 15px;
            line-height: 16.62px;
            font-weight: 500;
        }
    }
    &-content {
        @include fonctionnement-content();
        &-icon {
            width: 15px;
            height: 15px;
            margin-right: 23px;
        }
    }
}
/** Restaurants **/
.restaurants-list {
    background: $gris-clair-color;
    padding: 54px 0px 40px 0px;
    &-cards-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-title {
        margin-left: 20px;
    }
}
.restaurant-list-card {
        @include restaurant-card-accueil()
}


/** Page Restaurant  **/
/** Entete **/
/** Menu **/